<?xml version="1.0"?>
<launch>

    <!--Run rviz to visualize the drone-->
    <node pkg = "rviz" name = "rviz" type = "rviz" args="-d $(find px4sim)/rviz/basic.rviz">
    </node>

    <!--Run the node that will simulate the drone-->
    <node pkg = "px4sim" name = "px4sim" type = "px4sim.py" args="" output="screen">
    </node>

    <!--Run the node that will generate an example path-->
    <node pkg = "examples" name = "path_generator" type = "example_path.py" args="" output="screen">
        <rosparam command="load" file="$(find px4sim)/config/pub_path.yaml" />
    </node>

    <!-- Run the node that controls the robot in the acro mode  with vector fields -->
    <node pkg="quad_robot" name="quad_node" type="quad_node.py" args="" output="screen">
        <rosparam command="load" file="$(find px4sim)/config/quad_params.yaml" />
    </node>

    <!-- Run mavros to control the drone o the acro mode -->
    <include file="$(find mavros)/launch/node.launch">
        <!-- MAVROS configs -->
        <arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml"/>
        <arg name="config_yaml" value="$(find px4sim)/config/px4_config.yaml"/>
        <!-- pass FCU -->
        <arg name="fcu_url" value="udp://:14540@localhost:14557"/>
        <arg name="gcs_url" value=""/>
        <arg name="tgt_system" value="1"/>
        <arg name="tgt_component" value="1"/>
        <arg name="log_output" value="screen"/>
        <arg name="fcu_protocol" value="v2.0"/>
        <arg name="respawn_mavros" default="true"/>
    </include>

</launch>


